*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* anvar uchun */
/* ------------ auth css */
@import url("./auth.css");

/* anvar uchun */
/* ------------ header css */
@import url("./header.css");

/* javohir uchun */
/* ------------ home css */
@import url("./home.css");

